<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">	

<suite name="SAPIOT">
<suite-files>
   
    <suite-file path="C:\Users\c5282967\Documents\AutomationProject\EdgeServicesQA\SAP_EdgeServices\StreamingServiceRegression.xml">
 
 </suite-file>
</suite-files>
</suite>
